# {{ ansible_managed }}

###
# This file sets defaults for all hosts to support hosts which don't have all
# variables set in their respective '.env' file. This is the case when a new
# variable is defined but a host was rolled out before that variable existed.
# "If the same variable is set twice from these files, the files will be read in
# the order they are specified and the later setting will override the earlier
# setting."
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#EnvironmentFile=
###

SSH_USER={{ restic_remote_client_user }}
SSH_REMOTE_LISTEN_PORT={{ restic_remote_client_port }}
SSH_PORT={{ restic_remote_ssh_port }}
