# {{ ansible_managed }}

%{{ restic_remote_client_group }} ALL=NOPASSWD: /bin/systemctl start restic-backup.service
%{{ restic_remote_client_group }} ALL=NOPASSWD: /bin/systemctl start restic-prune.service
%{{ restic_remote_client_group }} ALL=NOPASSWD: /bin/systemctl start restic-exporter.service
